
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


footer {
  background: url('../../../src/assets/Group.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

li{
  list-style: none;
}
/* h4{
  color: #EBB713 !important;
  font-weight: 500;
  font-family: "Roboto", sans-serif;

} */
/* p{
  font-family: "Roboto", sans-serif;
  font-weight:400;
} */
 .add_size_bottom_logo{
  width: 16rem;
  height: 12rem;
 }
 .add_size_social_icon{
  width: 2rem;
 }
 .fav_icon {
  /* width: 1.9rem; */
  height: 1.4rem;
}
.copy_link{
  font-size: 12px;
}
.add_heading_font_footer{
  font-size: 24px;
  line-height: 30px;
  font-family: 'Quikly-Rar', sans-serif !important;

}
.add_text_font_footer {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Quikly-Rar', sans-serif !important;

}
@media screen and (min-width: 360px) and (max-width: 768px) {
  .add_heading_font_footer{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Quikly-Rar', sans-serif !important;
  
  }
  .add_text_font_footer {
    font-size: 12px;
    line-height: 16px;
    font-family: 'Quikly-Rar', sans-serif !important;
  }
  .add_size_social_icon {
    width: 1rem;
}
}